.login {
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100%;

  &-header{
    &-text{
      padding:10px;
      color:black;
      box-shadow: 10px 10px 10px rgb(31, 96, 101);
    }
  }

  &>img {
    margin-top: 100px;
    // height:70%;
  }

  button img {
    width: 300px;
  }

  &-logo {
    height: 200px;
    width: 200px;
  }

  & button {
    margin-top: 20px;
    // padding: 20px 100px;

    &.email {
      padding: 15px 100px;
    }
  }
}